<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.catherinemorris.shoppinwithfriends" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Permissions for Google Maps APIs: -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- Prevents Google Play Store from displaying your app on devices that don't support OpenGL ES version 2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".Welcome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:parentActivityName=".Welcome" >
            <intent-filter>
                <action android:name="android.Login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Welcome" />
        </activity>
        <activity
            android:name=".Registration"
            android:label="@string/app_name"
            android:parentActivityName=".Welcome" >
            <intent-filter>
                <action android:name="android.Registration" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Registration" />
        </activity>
        <activity
            android:name=".HomeScreen"
            android:label="@string/app_name"
            android:parentActivityName=".Login" >
            <intent-filter>
                <action android:name="android.HomeScreen" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" />
        </activity>
        <activity
            android:name=".FriendList"
            android:label="@string/app_name"
            android:parentActivityName=".HomeScreen" >
            <intent-filter>
                <action android:name="android.FriendList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FriendList" />
        </activity>
        <activity
            android:name=".Profile"
            android:label="@string/app_name"
            android:parentActivityName=".FriendList" >
            <intent-filter>
                <action android:name="android.Profile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Profile" />
        </activity>
        <activity
            android:name=".Enter_Item_Request"
            android:label="@string/app_name"
            android:parentActivityName=".Settings" >
            <intent-filter>
                <action android:name="android.Enter_Item_Request" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Settings" />
        </activity>
        <activity
            android:name=".SaleItem"
            android:label="@string/app_name"
            android:parentActivityName=".Settings" >
            <intent-filter>
                <action android:name="android.SaleItem" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Settings" />
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/app_name"
            android:parentActivityName=".HomeScreen" >
            <intent-filter>
                <action android:name="android.Settings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" />
        </activity>
        <activity
            android:name=".SalesList"
            android:label="@string/app_name"
            android:parentActivityName=".HomeScreen" >
            <intent-filter>
                <action android:name="android.SalesList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" />
        </activity>
        <activity
            android:name=".FriendWishes"
            android:label="@string/app_name"
            android:parentActivityName=".HomeScreen" >
            <intent-filter>
                <action android:name="android.FriendWishes" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" />
        </activity>
        <activity
            android:name=".SaleConnection"
            android:label="@string/app_name"
            android:parentActivityName=".HomeScreen" >
            <intent-filter>
                <action android:name="android.SaleConnection" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" />
        </activity>
        <activity
            android:name=".FoundSaleList"
            android:label="@string/app_name"
            android:parentActivityName=".HomeScreen" >
            <intent-filter>
                <action android:name="android.FoundSaleList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" />
        </activity>
        <activity
            android:name=".SaleConnectionMap"
            android:label="@string/app_name"
            android:parentActivityName=".SaleConnection" >
            <intent-filter>
                <action android:name="android.SaleConnectionMap" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SaleConnectionMap" />
        </activity>

        <activity
            android:name=".Map"
            android:label="@string/app_name"
            android:parentActivityName=".SaleItem" >
            <intent-filter>
                <action android:name="android.Map" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SaleItem" />
        </activity>



        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBwZXQJ_vx4LzGKqh-TcmFUXPK8ivW2lWY"/>
    </application>

</manifest>